#subredditHeader {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-content: center;
  background-color: white;
  width: 70%;
  margin-top: 80px;
  margin-bottom: 25px;
}

#user-avatar {
  align-self: center;
  height: 35px;
  width: 35px;
  border-radius: 20px;
  margin-left: 25px;
}

#title-subLink-join {
  justify-items: space-around;
  padding-bottom: 20px;
}

#sub-title {
  margin-bottom: -5px;
  color: #467172;
  margin-left: 45px;
  width: 335px;
}

#sub-link {
  text-decoration: none;
  color: #1dc9a0;
  margin-left: 50px;
}

#subreddit-description {
  display: flex;
  align-self: center;
  flex-flow: row wrap;
  /* max-width: 400px; */
  max-width: 200px;
  margin: 5px;
  color: #467172;
  margin-left: 10px;
}

#filter-div {
  display: flex;
  flex-flow: column;
  margin-top: 20px;
  margin-left: 100px;
}

#post-filter-options {
  align-self: center;
  background-color: white;
  border-color: #1dc9a0;
  color: #467172;
}

#subreddit-banner-dropdown-menu-label {
  align-self: center;
  margin-right: 10px;
  color: #467172;
}

#join-button {
  align-self: center;
  background-color: #1dc9a0;
  color: white;
  border: solid #1dc9a0;
  border-width: 2px;
  border-radius: 10px;
  height: 20px;
  width: 50px;
  font-size: medium;
  margin-left: 45px;
}

#join-button:hover {
  background-color: white;
  color: #1dc9a0;
  border: solid #1dc9a0;
  transition-duration: 0.2s;
}

.new-post-button {
  display: flex;
  flex-flow: row wrap;
  height: 50px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 5px 10px;
  margin-left: -10px;
}

.create-buttons #close-post {
  margin-left: 420px;
  height: 40px;
  margin-top: 8px;
  background-color: #467172;
}

.sub-post .post-card {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  width: 51vw;
  height: 500px;
  margin: auto;
  margin-bottom: 20px;
  color: white;
  /* background-color: red; */
}

@media screen and (max-width: 390px) {
  #subredditHeader {
    margin-top: 80px;
    max-width: 390px;
    height: 100px;
    flex-flow: wrap;
    justify-content: space-around;
    width: 100%;
  }
  #user-avatar {
    margin-left: 2px;
    margin-top: -20px;
  }
  #sub-title {
    font-size: 25px;
    margin-left: 0px;
    margin-top: -2px;
    margin-bottom: 0px;
    max-width: 290px;
  }
  #sub-link {
    margin-left: 10px;
  }
  #subreddit-description {
    font-size: 12px;
    margin-top: -18px;
    margin-left: -12px;
    width: 230px;
  }

  #join-button {
    margin-top: -25px;
    margin-left: 0px;
  }

  #filter-div {
    margin-top: -20px;
    margin-left: 0;
  }
  #subreddit-banner-dropdown-menu-label {
    margin-right: -40px;
  }
  .new-post-button {
    margin-top: -10px;
    height: 25px;
    margin-right: -40px;
  }
  .create-buttons #close-post {
    margin-top: -10px;
    height: 25px;
    margin-right: -38px;
    margin-left: 20px;
  }
  .sub-post .post-card {
    width: 99vw;
  }

  #upVotes,
  #downVotes {
    font-size: 18px;
  }

  #comments-tab {
    font-size: 14px;
    padding-left: 0px;
  }
  .post-card {
    width: 98vw;
    height: 125vw;
    top: 5%;
  }

  #upVotes,
  #downVotes {
    font-size: 18px;
  }

  #comments-tab {
    font-size: 14px;
    padding-left: 0px;
  }
}
