.form {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border-radius: 31px;
    background: #467172;
    box-shadow: inset -5px -5px 8px #345454,
        inset 5px 5px 8px #588e90;
    position: fixed;
    right: 0;
    left: 0;
    margin: 80px auto 0px auto;
    width: 40%;
    min-width: 360px;
    height: 430px;
    top: 5%;
}

.sign-up-heading {
    color: white;
    border-bottom: 2px solid white;
}

.inputs {
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: center;
}

.signup-input {
    line-height: 40px;
    margin-top: 10px;
    width: 300px;
}

.password-mismatch {
    color: white;
    margin-top: 5px;
}

#submit-password {
    margin-top: 10px;
}

@media screen and (max-width: 390px) {
    .form {
        margin-top: 130px;
        top: 0%;
    }

    #submit-password {
        font-size: 20px;
        margin-top: 10px;
    }
}